<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/head') %>
</head>

<body>
	<main class="container">
		<header>
			<h1>Home</h1>
		</header>
		<section class="buttons">
			<a href="/user/signup" class="btn">Sign Up</a>
			<a href="/user/login" class="btn">Login</a>
		</section>
	</main>
</body>

</html>