<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <main class="container">
    <%- include('partials/header') %>
    <section class="intro">
      <h1>Session Based Authentication</h1>
      <p>Session-based authentication involves creating a temporary session on the server after a user logs in.<br>
        A unique token is stored as a cookie in the user's browser, allowing access to restricted areas. <br>
        Sessions have an expiration time and can be manually logged out. </p>
      <a href="/user/signup" class="btn">Get Started</a>
    </section>
  </main>
</body>

</html>