<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <main class="container">
    <%- include("partials/header") %>
    <section class="main">
      <div class="ls-form">
        <form action="/user/login" method="post">
          <div class="form-elem">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" required>
          </div>
          <div class="form-elem">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
          </div>
          <button class="btn">Login</button>
        </form>
      </div>
    </section>
  </main>
</body>

</html>